@import "/css/global/global.css";
@import "/css/utilidades/tipografia.css";
@import "/css/utilidades/cores.css";

@import "/css/global/header.css";
@import "/css/global/footer.css";

/*utilidades */

@import "/css/utilidades/componentes.css";
@import "/css/utilidades/formulario.css";

/* Home */
@import "/css/home/introducao.css";


/* Bicicletas */
@import "/css/bicicletas/bicicletas-lista.css";
@import "/css/bicicletas/bicicletas.css";

/* Bicicleta */
@import "/css/bicicleta/bicicleta.css";
@import "/css/bicicleta/seguro.css";

/* Seguros*/
@import "/css/seguros/seguros.css";
@import "/css/seguros/vantagens.css";
@import "/css/seguros/perguntas.css";

/*Contato*/
@import "/css/contato/contato.css";
@import "/css/seguros/lojas.css";

